<div class="row purchace-popup">
  <div class="col-12">
    <span class="d-block d-md-flex align-items-center">
      <%= link_to "/backoffice/categories/new", class: "btn btn-success btn-lg btn-fw" do %>
        <i class="mdi mdi-plus-circle" style="color: white"></i>
        <span class="menu-title">Nova categoria</span>
      <% end %>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-tag text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Total de categorias</p>
            <div class="fluid-container">
              <% if Category.last != nil %>
                <div class="card-body">
                  <h3 class="font-weight-medium text-right mb-0">
                    <%= Category.count %> categorias
                  </h3>
                </div>
              <% end %>
              <h3 class="font-weight-medium text-right mb-0"><%= @total_amount %></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Quantidade total de categorias
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Listagem completa de categorias</h4>
    <div class="table-responsive" style="overflow-y: auto;">
      <table class="table table-striped Flipped" id="categories-datatable" data-source="<%= backoffice_categories_path(format: :json) %>">
        <thead>
        <tr>
          <th>
            Nome da categoria
          </th>
          <th>
            Associado a
          </th>
          <th>
            Criado em
          </th>
          <th>
            Informações
          </th>
          <th>
            Editar
          </th>
          <th>
            Deletar
          </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<script charset="utf-8">
    jQuery(document).ready(function() {
        $('#categories-datatable').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": $('#categories-datatable').data('source'),
            "pagingType": "full_numbers",
            "columns": [
                {"data": "name"},
                {
                    "data": "category_use",
                    "render": function (data) {
                        if (data == 0) return "Nenhum bem";
                        if (data == 1) return "1 bem";
                        if (data > 1) return (data + " bens");
                    },
                    "bSortable": false,
                },
                {
                    "data": "created_at",
                    "type": "date",
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        return ( date.getDate() + "/" + ((month >= 10) ? month : "0" + month) + "/" + date.getFullYear());
                    }
                },
                {
                    "data": "information",
                    "bSortable": false,
                },
                {
                    "data": "edit",
                    "bSortable": false,
                },
                {
                    "data": "delete",
                    "bSortable": false,
                },
            ]
        });
    });
</script>