<h1>Editing Backoffice Report List</h1>

<%= render 'form', backoffice_report_list: @backoffice_report_list %>

<%= link_to 'Show', @backoffice_report_list %> |
<%= link_to 'Back', backoffice_report_lists_path %>
